<ul class="nav justify-content-end">
   <li class="nav-item">
   <a class="nav-link" href="/login">Login</a>
   </li>
   <li class="nav-item">
   <a class="nav-link" href="/">Sign up</a>
   </li>
 </ul>
		
  <header class="w3-center"><p style="font-size: 38px; font-weight: 700">Team</p></header>
  <div class="w3-left" style="width: 95%; padding: 0px 0px 0px 35px"><p> Tigran, Harith, Ella, Sunitha, David </p></div>

  <header class="w3-center"><p style="font-size: 38px; font-weight: 700;">LycheeBnB</p></header>
  <div class="w3-left" style="width: 95%; padding: 0px 0px 0px 35px"><p>We built this makersbnb web application, which is a service that lets property owners rent out their spaces to travelers looking for a place to stay. Any signed-up user can list a new space. Users are able to name their space, provide a short description of the space, and a price per night. Any user can request to hire any space for one night, and this should be approved by the user that owns that space. Users will receive an email whenever their request for a space has been confirmed or denied.

 <header class="w3-center"><p style="font-size: 38px; font-weight: 700">Tech Stack</p></header>
 <div class="w3-left" style="width: 95%; padding: 0px 0px 0px 35px"><p> Ruby, Sinatra, Bootstrap, Postgresql, Capybara, Rspec </p></div>
