<ul class="nav justify-content-end">
   <li class="nav-item">
   <a class="nav-link" href="/login">Login</a>
   </li>
   <li class="nav-item">
   <a class="nav-link" href="/">Sign up</a>
   </li>
 </ul>
		
  <header class="w3-center"><p style="font-size: 38px; font-weight: 700">Team</p></header>
  <div class="w3-left" style="width: 95%; padding: 0px 0px 0px 35px"><p> Tigran, Harith, Ella, Sunitha, David </p></div>

  <header class="w3-center"><p style="font-size: 38px; font-weight: 700;">LycheeBnB</p></header>
  <div class="w3-left" style="width: 95%; padding: 0px 0px 0px 35px"><p>We built this makersbnb web application, which is a service that lets property owners rent out their spaces to travelers looking for a place to stay. Any signed-up user can list a new space. Users are able to name their space, provide a short description of the space, and a price per night. Any user can request to hire any space for one night, and this should be approved by the user that owns that space. Users will receive an email whenever their request for a space has been confirmed or denied.

 <header class="w3-center"><p style="font-size: 38px; font-weight: 700">Tech Stack</p></header>
 <div class="w3-left" style="width: 95%; padding: 0px 0px 0px 35px"><p> Ruby, Sinatra, Bootstrap, Postgresql, Capybara, Rspec </p></div>

 <header class="w3-center"><p style="font-size: 38px; font-weight: 700">Personal Objectives</p></header>
 <div class="w3-left" style="width: 95%; padding: 0px 0px 0px 35px">
  <p>
      <ul>
        <li>Git workflow</li>
        <li>Getting to grips with routing in Sinatra</li>
        <li>How everything comes together with views, models and controllers in a web app</li>
        <li>Styling with CSS and Bootstrap</li>
        <li>Resolving problems in a group setting</li>      
      </ul>
  </p>
  </div>
  <header class="w3-center"><p style="font-size: 38px; font-weight: 700">What Went Well</p></header>
  <div class="w3-left" style="width: 95%; padding: 0px 0px 0px 35px">
   <p>
       <ul>
         <li>Teamwork</li>
         <li>Achieved what we set out to do and more</li>
         <li>Communicated well</li>
         <li>Working to spec and achieving 100% code coverage</li>         
       </ul>
   </p>
   </div>
  <header class="w3-center"><p style="font-size: 38px; font-weight: 700">Challenges</p></header>
  <div class="w3-left" style="width: 95%; padding: 0px 0px 0px 35px">
   <p>
       <ul>
         <li>One member could only attend for two days</li>
         <li>At some points communication was a challenge - we learnt as we went along</li>
         <li>Git branching, conflicts and merges!</li>
       </ul>
   </p>
 </div>