<html>
  <head>
  
  <ul>
  <li><a href='/signin'> Sign-in </a></li>
  </ul>
  
  </head>

  <body>
    <h1> Welcome to Lychee MakersBnB </h1>
    <h2> Please, create your account below </h2>
    <form action="/accounts" method="POST">
      <div>
            <p> Enter your name </p>
            <input type="text" name="name">
      </div>

      <div>
            <p> Enter the email address </p>
            <input type="text" name="email">
       </div>

      <div>
            <p> Enter your password </p>
            <input type="text" name="password">
      </div>

      <input type="submit" value="Create account">
    </form>

  </body>
</html>