<html>
  <head>

  <ul>
  <li><a href='/'> Home </a></li>
  </ul>

  </head>

  <body>
    <h1> Please, sign in below </h1>
    <form action="/login" method="POST">
      <div>
            <p> Enter your email </p>
            <input type="text" name="email">
      </div>

      <div>
            <p> Enter your password </p>
            <input type="text" name="password">
      </div>

      <input type="submit" value="Log in">
    </form>

  </body>
</html>