
    <%# nav bar %>
    <div class="topnav">
    <a href="/">Signup</a>
    <a href="#">About</a>
    </div>

    <h2>Please, sign in below</h2>

    <form class="box" action="/login" method="post">
        <h1>Login</h1>
        <input type="email" name="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" maxlength="20" autocomplete='off' placeholder="Email" required>
        <input type="password" name="password" maxlength="20"autocomplete='off' placeholder="Password" required>
        <button>Login</button>
    </form>
