<ul class="nav justify-content-end">
  <li class="nav-item">
  <a class="nav-link" href="/spaces">Spaces</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/">Sign out</a>
  </li>
</ul>

<h3 class="title" style="text-align: center;margin: 3rem 0;"> The user has now been notified that you confirmed their request to book this space</h3>
