<ul class="nav justify-content-end">
  <li class="nav-item">
  <a class="nav-link" href="/spaces">Spaces</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/">Sign out</a>
  </li>
</ul>

    
  <%# <div id="spaces"> %>
    <h2> Welcome to Lychee MakersBnB </h2>
    
    <p> Below you will find a selection of spaces you can book.
    Press on the "List a Space" button to list your own space.</p>
  <!-- </div>
  <div id="spaces-booking"> -->

    <h4> Add a Space </h4>
    <form action='/space/new' method='get'>
        <button class='btn btn-primary'>List a space</button>
    </form>

    <%# <h3> Choose a date to book </h3> %>
    <br>
    <form method="get" action="/filter">
      <div class="container" style="margin-bottom:1rem;margin-top:1rem;" >
        <div class="row">
            <h4> Filter by available dates: </h4>
          
              <div class="col-sm">
                  <label for="available_from">Available from (DD/MM/YY)</label>
                  <input type="date" name="available_from"  class="form-control" required/>
              </div>
              <div class="col-sm">
                  <label for="available_to">Available to (DD/MM/YY)</label>
                  <input type="date" name="available_to" class="form-control" required/>
              </div>
              <div class="col-sm">
                <a class="nav-link">
                    <input type='submit' value='Filter by date' class="btn btn-default" style=" margin-top:1.5rem;">
                </a>
              </div>
            
        </div>
      </div>
    </form>
<br>
    

  <div class="card">
      <% @space_repo.each do |space| %>
          <div class="card-body">
          <h3 class="card-title"><%=space.name%></h3>
          <hr>
          <p class="card-text"><%=space.description%></p>
          <form action='space/<%= space.id%>' method="GET">
            <button class="btn btn-primary">Booking Page</button>
          </form>
          </div>
      <%end%>
  </div>

