<ul class="nav justify-content-end">
    <li class="nav-item">
    <a class="nav-link" href="#">Requests</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/spaces">Spaces</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/">Sign out</a>
    </li>
</ul>

<%# <form action="/space/new" method="POST">
      <label for='name'> Enter space name </label>
      <input type="text" name='name'>
      <br>
      <label for='description'> Enter space description </label>
      <input type="text" name='description'>
      <br>
      <label for='price_per_night'> Enter space price </label>
      <input type="number" name='price_per_night'>
      <br>

      <label for='available_from'> Enter space available_from  </label>
      <input type="date" name='available_from'>
      <br>
      <label for='available_to'> Enter space available_to </label>
      <input type="date" name="available_to">
      <br>

      <button>Submit</button>
</form> %>

<form id="sign-up" action="/space/new" method="POST">
<h3>Create A Space</h3>
  <br>
  <div class="mb-3">
    <label for="name" class="form-label">Enter Space Name</label>
    <input type="name" name="name" class="form-control" id="exampleInputName" autocomplete='off' placeholder="Name" required aria-describedby="emailHelp">
  </div>  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter Space Description</label>
    <input type="text" name="description" class="form-control" id="exampleInputEmail1" autocomplete='off' placeholder="Space description" required aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Enter Space Price</label>
    <input type="number" name="price_per_night" class="form-control" id="exampleInputPassword1" autocomplete='off' placeholder="£" required>
  </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Enter Space Available From</label>
    <input type="date" name="available_from" class="form-control" id="exampleInputPassword1" placeholder="Available From" required>
  </div>
      <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Enter Space Available To</label>
    <input type="date" name="available_to" class="form-control" id="exampleInputPassword1"  placeholder="Available To" required>
  </div>
  <button type="submit" name="signup" class="btn btn-primary">Submit</button>
</form>
