
    <div class="topnav">
    <a href="/">Sign out</a>
    <a href="/spaces">Spaces</a>
    </div>

    <h1> Welcome to Lychee MakersBnB </h1>
    
    <p> Below you will find a selection of spaces you can book.
    Press on the "List a Space" button to list your own space</p>

    <h2> Book a Space </h2>
  
      <a href='/space/new'>List a space </a>

    <h2> Choose a date to book </h2>

    <form action='/space/new' method='POST'>
            <p> Start date </p>
            <input type="text" name="booking_start_date">
            <input type="submit" value='See available space'/>
      </form>

      <% @space_repo.all.each do |space| %>
      <h1><%=space.name%></h1>
      <h2><%=space.description%></h2>
      <form action='space/<%= space.id%>' method="GET">
          <button>Booking Page</button>
      </form>
      <%end%>  

